<div ng-controller='customersController as cc'>
	<div class="row">
		<div class="col-md-5">
			<h2>Add New Customer</h2>
			<div>
				<p>Input Customer Name</p>
				<input type="text" ng-model='cc.newCustomer.name'>
				<input type="submit" ng-click='cc.addCustomer()' value="Add Customer">
				<p>Search Friends</p>
				<input type="text" ng-model='cc.filter_name'>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="customer in cc.customers | filter: cc.filter_name | orderBy: 'date_created' ">
						<td ng-bind="customer.name"></td>
						<td ng-bind="customer.date_created | date"></td>
						<td><input type="submit" ng-click="cc.removeCustomer(customer)" value="Delete"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>